body{
    background-color: beige;
}
table{
    width: 200px;
    height: 200px;
    margin: auto;
    border-collapse: collapse;
}
td{
    border: 1px solid Black;
    padding: 2px;
    text-align: center;
}